.edit-student-form-section{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    min-width: 200px;
    height: fit-content;
}

.edit-student-form {
    display: flex; 
    flex-direction: column;
    border: 2px solid black;
    padding: 5%;
    min-width: 200px;
    width: 50%;
}

.edit-student-form label {
    margin-top: 2%;
}